body {
    margin: 0px;
    border: 1px solid white
  }
  
  nav {
    background-color: lightgray;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoTitle {
   background-color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  }
  
  .nave .logo img {
    width: 50px;
    height: 50px;
  }
  
  .nave .title {
    font-size: 30px;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: black;
    margin: 30px;
    padding: 24px;
    box-sizing: border-box;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  
  a:hover {
    background-color: black;
    color: white;
    height: 50px;
  }
  
  .active a {
    background-color: black;
    color: whitesmoke;
    box-sizing: border-box;
  }

  .title {
    text-align: center;
  }