body {
  margin: 0px;
  border: 1px solid white
}

nav {
  background-color: lightgray;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logoTitle {
 background-color: lightgray;
display: flex;
flex-direction: row;
align-items: center;
gap: 15px;
}

.nave .logo img {
  width: 50px;
  height: 50px;
}

.nave .title {
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  margin: 30px;
  padding: 24px;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

a:hover {
  background-color: black;
  color: white;
  height: 50px;
}

.active a {
  background-color: black;
  color: whitesmoke;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  background-image: url(https://lh5.googleusercontent.com/-jmDOyu3fzee6VNDDtdnFM1csdWmtFb1MDoIFfnZZsmV4Y7lpnHIWwoTn4zONb7tSqnIhfJIcexHZ3ky66KePCDoAPP9b7l61AkOaiDvztnKl74TALEaHSnKviZQfhNpgp3UzrE-);
}


.heading {
  position: relative;
}

.heading b {
  font-size: 150px;
}

.heading small {
  font-size: 50px;
  font-weight: bold;
}

.artTypes {
  display: flex;
  gap: 10px;
  padding: 20px;
  margin: 10px;
}

.modernArt {
  background-color: cadetblue;
  padding: 10px 10px;
  border: solid 1px black;
}

.ancientArt {
  background-color: rgb(145, 70, 70);
  padding: 10px 10px;
  border: solid 1px black;
}

.sculptures {
  background-color: crimson;
  padding: 10px 10px;
  border: solid 1px black;
}

.wallArt {
  background-color: darkorchid;
  padding: 10px 10px;
  border: solid 1px black;
}

div h3 {
  text-align: center;

}